* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
}


.PageSubtitle {
    position: relative;
    font-weight: 300;
    font-size: 15px;
    color: gray;
    padding-left: 360px;
    padding-top: 60px;
}

.PageTitle {
    position: relative;
    font-size: 50px;
    padding-top: 8px;
    padding-left: 360px;
    font-weight: bold;
}

.ticketID {
    position: relative;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    bottom: 65px;
    background: #16601F;
    left: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ticketID p
{
    margin-top: 7px;
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.ticketID h1
{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.PageTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 80px;
    left: 362px;
    width: 55px;
    height: 7px;
    background-color: #feda00;
    border-radius: 10px;
}

/* tickets Section */


/* Time */
.rightContainer {
position: absolute;
right: 150px;
top: 60px;
}

.rightContainer .date {
    font-size: 15px;
    color: #000000;
}

.rightContainer .date h3 {
    font-size: 25px;
    color: #000000;
}

.header1 {
    height: 100px;
    width: 100%;
    position: relative;
    height: 150px;
    top: -30px;
    left: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header2 {
    height: 100px;
    width: 100%;
    position: relative;
    height: 150px;
    top: -45px;
    left: 350px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card1 {
    background: #EDEDED;
    height: 120px;
    width: 290px;
    border-style: solid;
    border-color:#797979;
    border-width: 0.5px;
}

.header1 p,
.header2 p 
{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.header1 h3,
.header2 h3
{
    margin-left: 20px;
    font-size: 25px;
}

.sideInfo
{
    position: absolute;
    top: 220px;
    left: 1000px;
}

.sideInfo button
{
    height: 40px;
    width: 160px;
    margin-top: 10px;
    background-color: #22872F;
    border-radius: 50px;
    border-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.pageContent
{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    top: 500px;
    height: 1100px;
    margin-left: 50px;
}

.underline 
{
    position: absolute;
    bottom: 0px;
    top: 20px;
    left: 0px;
    width: 25px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}

.title
{
    position: relative;
    margin-top: 80px;
}

#top
{
    margin-top: 0px;
}

#subTitle 
{
    font-size: 15px;
}

.questions
{
    display: flex;
    gap: 200px;
    font-size: 15px;
    margin-top: 30px;
}

#no
{
    color: gray;
    font-size: 12px;
    margin-top: 50px;
}

.answers
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.answers img 
{
    height: 25px;
    width: 25px;
}

.longbox {
    margin-top: 10px;
    background: #cfcfcf;
    width: 1100px;
    height: 150px;
    border-radius: 5px;
}

.longbox textarea {
    margin-top: 10px;
    width: 1070px;
    height: 140px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}

