* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    position: relative;
    overflow-x: hidden;
}


.PageSubtitle {
    position: relative;
    font-weight: 300;
    font-size: 15px;
    color: gray;
    padding-left: 360px;
    padding-top: 60px;
}

.PageTitle {
    position: relative;
    font-size: 50px;
    padding-top: 8px;
    padding-left: 360px;
    font-weight: bold;
}

.ticketID {
    position: relative;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    bottom: 65px;
    background: #16601F;
    left: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ticketID p
{
    margin-top: 7px;
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.ticketID h1
{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.PageTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 80px;
    left: 362px;
    width: 55px;
    height: 7px;
    background-color: #feda00;
    border-radius: 10px;
}

/* Time */
.rightContainer {
position: absolute;
right: 150px;
top: 60px;
}

.rightContainer .date {
    font-size: 15px;
    color: #000000;
}

.rightContainer .date h3 {
    font-size: 25px;
    color: #000000;
}

.pageContent
{
    position: relative;
    margin-left: 350px;
    height: fit-content;
}

.first
{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

#pDescription {
    width: 75%;
}

.card
{
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    border-style:solid;
    border-width: 1px;
    border-color: #8b8383;
    height: 120px;
    width: 280px;
    justify-content: center;
}

.card p
{
    font-size: 12px;
}
.card p,
.card h3
{
    margin-left: 30px;
}

.rightInf
{
    position: absolute;
    right: 370px;
}

#pdf
{
    margin-top: 10px;
    background-color: #16601F;
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

#view
{
    margin-top: 40px;
    font-size: 13px;
}

#dl
{
    font-size: 13px;
}

.btn
{
    display: flex;
    gap: 15px;
}
#not
{
    font-size: 12px;
    color: red;
    margin-top:20px;
}

#btnView
{
    margin-top: 10px;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    background-color: #606060;
    color:white;
    font-size: 15px;
    cursor: pointer;
}

.pageInfos
{
    margin-top: 50px;
    position: relative;
}

.dot {
    background: black;
    width: 8px;
    height: 8px;
    border-radius: 50px;
}

#pStatus {
    display: flex;
    align-items: center;
    gap: 8px;
}

#red {
    background-color: #d92b0b;
}

#gray {
    background-color: #aaaaaa;
}

#blue {
    background-color: #004aad;
}

#green {
    background-color: #22872f;
}

#orange {
    background-color: #ff914d;
}

.firstRow,
.secondRow
{
    margin-bottom: 50px;
    display: flex;
    gap: 250px;
}

.name
{
    width: 200px;
}

.evidence
{
    margin-top: 80px;
}

.imgs
{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.imgs img
{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #d3d3d3;
    padding: 4px;
    cursor: pointer;
}

.upldID
{
    margin-top: 80px;
}

.expandsPart
{
    margin-top: 80px;
    display: flex;
    gap: 100px;
}

.xpnd
{
    margin-top: 10px;
    background-color: #d4d4d2;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.expands select
{
    border-style: none;
    background: none;
    outline: none;
    width: 280px;
    margin-left: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#printCopy
{
    margin-top: 80px;
    font-size: 13px;
    color: gray;
    font-style: italic;
    margin-bottom: 30px;
}

.buttons
{
    position: absolute;
    bottom: 10px;
    right: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons button,
.buttons input
{
    height: 35px;
    width: 180px;
    border-radius: 20px;
    background-color: #22872f;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.shadow
{
    display: none;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.384);
    height: 100vh;
    width: 100%;
    top: 0;
    overflow-y: scroll;
}

.popup
{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    height: 1600px;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
}

/* Popup Css */

.popup .PopTitle {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    top: 20px;
    left: 35px;
}

.popup .PopTitle::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 2px;
    width: 55px;
    height: 7px;
    background-color: #feda00;
    border-radius: 10px;
}

/* tickets Section */

.popup .popContent
{
    position: absolute;
    left: 35px;
    width: calc(100% - 300px);
    top: 500px;
    height: 1100px;
}

.popup .header1 {
    height: 100px;
    width: 100%;
    position: relative;
    height: 150px;
    top: 30px;
    left: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup .header2 {
    height: 100px;
    width: 100%;
    position: relative;
    height: 150px;
    top: 15px;
    left: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup .closeBtn {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 15px;
    top: 12px;
    cursor: pointer;
}
.popup .closeBtn img {
    height: 30px;
    width: 30px;
}

.popup .card1 {
    background: #EDEDED;
    height: 120px;
    width: 290px;
    border-style: solid;
    border-color:#797979;
    border-width: 0.5px;
}

.popup .header1 p,
.popup .header2 p 
{
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 20px;
}

.popup .header1 h3,
.popup .header2 h3
{
    margin-left: 20px;
    font-size: 25px;
}

.popup .underline 
{
    position: absolute;
    bottom: 0px;
    top: 20px;
    left: 0px;
    width: 25px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}

.popup .title
{
    position: relative;
    margin-top: 80px;
}

#top
{
    margin-top: 0px;
}

#subTitle 
{
    font-size: 15px;
}

.popup .questions
{
    display: flex;
    gap: 200px;
    font-size: 15px;
    margin-top: 30px;
}

#no
{
    color: gray;
    font-size: 12px;
    margin-top: 50px;
}

.popup .answers
{
    display: flex;
    gap: 10px;
    align-items: center;
}

.popup .answers img 
{
    height: 25px;
    width: 25px;
}

.popup .longbox {
    margin-top: 10px;
    background: #cfcfcf;
    width: 930px;
    height: 150px;
    border-radius: 5px;
}

.popup .longbox textarea {
    margin-top: 10px;
    width: 910px;
    height: 140px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}