.aboutContact {
    position: absolute;
    background-image: url('/USCFMS/UserPage/UserHome/Media/brgyHall.JPG');
    background-size: 100% 100%;
    top: 180px;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    text-align: center;
}
.PageSubtitle img
{
    position: absolute;
    right: 5px;
}

.pageContent {
    position: absolute;
    width: 100%;
    height: calc(100vh - 480px);
    top: 490px;
}

@media (max-height: 1080px) {
    .pageContent {
        height: fit-content;
    }
}

.underline 
{
    position: absolute;
    bottom: 0px;
    top: 20px;
    left: 0px;
    width: 25px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
    margin-left: 50px; 
}

#fld
{
    margin-left: 50px;
}

#details
{
    font-weight: bold;
}
.first
{
    display: flex;
    gap: 300px;
    margin-left: 50px; 
}

.NameNAdd
{
    display: flex;
    gap: 30px;
}

.NameNAdd p
{
    width: 150px;
}

.buttons
{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.buttons button
{
    background-color: #16601f;
    border-radius: 50px;
    height: 40px;
    width: 200px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.second,
.mssgs
{
    margin-top: 80px;
}
.DashCnrcn,
.headtitle,
.DashMssgs
{
    position: relative;
}


#noteCncrn
{
    position: relative;
    margin-left: 200px;
    margin-top: -38px;
    font-size: 13px;
    color: #16601f;
    text-decoration: underline;
    cursor: pointer;
}

table {
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
    background: #e8e8e8;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

tr {
    border-bottom: solid;
    border-width: 2px;
    border-color: #e8e8e8;
}

.tbl {
    padding: 100px;
    background: white;
}

.tbl:hover {
    transition: 0.2s;
    background-color: #dadada;
    cursor: pointer;
}

.head {
    background: #e8e8e8;
    color: #606060;
}

.ticketID{
    cursor: pointer;
    font-weight: bold;
}
.active {
    display: flex;
    align-items: center;
    gap: 5px;
}
.dot {
    background: blue;
    width: 5px;
    height: 5px;
    border-radius: 50px;
}

#showMore
{
    margin-left: 500px;
    color: #16601f;
    font-weight: bold;
    cursor: pointer;
}


/*SHADOWING*/
.shadow
{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.384);
    height: 100vh;
    width: 100%;
    top: 0;
}

.shadow .popup
{
    position: relative;
    height: 600px;
    width: 1000px;
    background-color: white;
    border-radius: 15px;

}

.shadow .popup img
{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 13px;
    top: 10px;
    cursor: pointer;
}

.shadow .underline1
{
    position: absolute;
    bottom: 0px;
    top: 60px;
    margin-left: 50px;
    width: 25px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}

#headShadow
{
    margin-left: 50px;
}

.fldConcern {
    position: absolute;
}


.longbox {
    margin-top: -100px;
    background: #cfcfcf;
    width: 900px;
    height: 320px;
    border-radius: 5px;
}

.longbox textarea {
    margin-top: 10px;
    width: 870px;
    height: 300px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}
.PopDetails
{
    position: absolute;
    margin-top: 400px;
}

.CncrnID
{
    display: flex;
    gap: 20px;
    margin-right: 450px;
    margin-top: -20px;
}

.CncrnID p
{
    width: 200px;
}

#bld
{
    font-weight: bold;
}

#done
{
    position: absolute;
    margin-top: 500px;
    margin-left: 700px;
    height: 40px;
    width: 130px;
    background-color: #16601f;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}