.main-skills
{
    display: flex;
    justify-content: center;
    align-items:center;
    position: absolute;
    top: 480px;
    width: 100%;
    height: 390px;
    gap: 50px;
}

.PageSubtitle img
{
    position: absolute;
    right: 5px;
}

.PageMenu {
    position: relative;
    top: 480px;
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    gap: 2%;
    align-items: center;
    background: #16601F;
    color: white;
    font-size:13px;
    font-weight: bold;
    flex-wrap: wrap;
}

.PageMenu p {
    flex-shrink: 1;
}

#goTo
{
    margin-left: 50px;
    font-weight: lighter;
    width: 51px;
}

#goTo:hover
{
    text-decoration: none;
    cursor: default;
}

.PageMenu p:hover 
{
    text-decoration: underline;
    cursor: pointer;
}
.card-content 
{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 350px;
    height: 320px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(90deg, #7ED957, #00742F);
    border-radius: 20px;
    color: white;
}

.card-content h3 
{
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    text-shadow: 0px 0px 10px #393939;
    font-size: 40px;
    font-weight: bold;
}

.card-content p
{
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    text-shadow: 0px 0px 10px #393939;
    font-size: 20px;
}

.card-content .submit
{
    margin-top: 25px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    border-style: none;
    height: 40px;
    width: 200px;
}

/* BODY CONTENT*/
.pageContent {
    position: relative;
    width: 100%;
    top: 540px;
    height: 2600px;
    height: calc(100vh - 540px);
}

@media (max-height: 3140px) {
    .pageContent {
        height: fit-content;
    }
}

.boundaries
{
    position: relative;
    width: 90%;
    margin-left: 60px;
    display: flex;
    column-gap: 200px;
    flex-wrap: wrap;
}

.directions
{
    margin-bottom: 50px;
}

.boundaries ul
{
    margin-top: -10px;
}

.directions h2
{
    font-size: 15px;
}

.field1,
.field2,
.field3 {
    position: relative;
}

.underline {
    position: absolute;
    bottom: 0px;
    top: 22px;
    left: 50px;
    width: 33px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}

h1
{
    margin-left: 50px;
    font-size: 18px;
}

table {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: left;
    background: #e8e8e8;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

tr {
    border-bottom: solid;
    border-width: 2px;
    border-color: #e8e8e8;
}

.tbl {
    padding: 100px;
    background: white;
}

.head {
    background: #e8e8e8;
    color: #606060;
}

#upBtn {
    position: fixed;
    opacity: 0;
    right: 50px;
    bottom: 10px;
    transition: 0.3s;
}

#upBtn.up {
    transition: 0.3s;
    position: fixed;
    right: 50px;
    bottom: 70px;
    opacity: 1;
}

#upBtn img
{
    height: 80px;
    width: 80px;
    cursor: pointer;
}


