.pageContent {
    position: absolute;
    top: 480px;
    /*background: #c3bfbf;*/
    width: 100%;
    height: 1000px;
    height: calc(100vh - 480px);
}
@media (max-height: 1480px) {
    .pageContent {
        height: 1000px;
    }
}

.PageSubtitle img
{
    position: absolute;
    right: 5px;
}

.register
{
    position: absolute;
    display: flex;
    font-size: 15px;
    right: 90px;
}

#login,
#signup
{
    cursor: pointer;
}

.register p:hover
{
    text-decoration: underline;
}

h1 {
    margin-left: 50px;
    font-size: 18px;
}

#required
{
    position: absolute;
    top: 0px;
    right: 6%;
    font-size: 12px;
    font-weight:400;
    color: red;
}

.field1,
.field2 {
    position: relative;
}

.underline {
    position: absolute;
    bottom: 0px;
    top: 22px;
    left: 50px;
    width: 33px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}


.fldPersonal {
    position: relative;
    display: flex;
    row-gap: 20px;
    column-gap: 180px;
    width: 88%;
    left: 50px;
    right: 6%;
    flex-wrap: wrap;
}

.inbox {
    background: #cfcfcf;
    width: 350px;
    height: 35px;
    border-radius: 5px;
}

.longbox {
    background: #cfcfcf;
    width: 1500px;
    height: 200px;
    border-radius: 5px;
}

.longbox textarea {
    margin-top: 10px;
    width: 1470px;
    height: 180px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}

input {
    width: 320px;
    height: 35px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}

#concernTitle {
    margin-top: 50px;
}

.fldConcern {
    position: relative;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 180px;
    width: 88%;
    left: 50px;
    right: 6%;
    flex-wrap: wrap;
}


#consent
{
    margin-top: 100px;
    margin-left: 80px;
}

#check
{
    position:relative;
    margin-left: 50px;
    bottom: 36px;
    height: 15px;
    width:15px;
}

.submit 
{
    height: 50px;
    width: 160px;
    background-color: #16601f;
    border-radius: 50px;
    border-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}

.submit:hover { 
    transition: 0.3s;
    background-color: #1a7225;
}