.body {
    overflow-x: hidden;
}

.pageContent 
{
    position: absolute;
    top: 500px;
    width: 100%;
    height: calc(100vh - 500px);
    overflow-x: hidden;
}

.PageSubtitle img
{
    position: absolute;
    right: 5px;
}

.register
{
    position: absolute;
    display: flex;
    font-size: 15px;
    right: 90px;
}

#login,
#signup
{
    cursor: pointer;
}

.register p:hover
{
    text-decoration: underline;
}

@media (max-height: 2000px) {
    .pageContent {
        height: 1500px;
    }
}

#headTitle
{

    left: 50px;
    position: relative;
    font-size: 20px;
    width: fit-content;
}

#headTitle::after {
    content: "";
    position: absolute;
    bottom: 0px;
    top: 28px;
    left: 1px;
    width: 33px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}

.captions
{
    position: relative;
    display: flex;
}
.captions p
{
    margin-left: 50px;
}

#date
{
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
}

.searchBar
{
    position: absolute;
    top: 10px;
    right: 50px;
}

.searchBar p
{
    margin-bottom: 10px;
}

.searchBar .bar 
{
    width: 220px;
    height: 40px;
    background: #DBDBDB;
    border-radius: 20px;
}

.searchBar .bar input 
{
    position: relative;
    width: 155px;
    height: 30px;
    top: 5px;
    left: 15px;
    border: none;
    background: #00000000;
    outline: none;
    
}

.searchBar .bar .imgBorder
{
    position: absolute;
    right: 13px;
    bottom: 5px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBar .bar .imgBorder img 
{
    height: 17px;
    width: 17px;
}

.searchBar .bar .imgBorder:hover
{
    transition: 0.3s;
    background-color: #c5c5c5;
    cursor: pointer;
}

.pictureList 
{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.pictureList img 
{
    height: 200px;
    width: 200px;
}

.showMore
{
    margin-left:50px;
    width: fit-content;
    font-size: 18px;
    font-weight:bold;
    color:green;
    cursor: pointer;
}

.area2,
.area3
{
    margin-top: 150px;
}