.pageContent {
    position: absolute;
    top: 480px;
    width: 100%;
    height: calc(100vh - 480px);
}

@media (max-height: 1780px) {
    .pageContent {
        height: 1400px;
    }
}
.PageSubtitle img
{
    position: absolute;
    right: 5px;
}

.register
{
    position: absolute;
    display: flex;
    font-size: 15px;
    right: 90px;
}

#login,
#signup
{
    cursor: pointer;
}

.register p:hover
{
    text-decoration: underline;
}

h1
{
    margin-left: 50px;
    font-size: 18px;
}

#required
{
    position: absolute;
    top: 0px;
    right: 6%;
    font-size: 12px;
    font-weight:400;
    color: red;
}

.field1,
.field2,
.field3 {
    position: relative;
}

.underline {
    position: absolute;
    bottom: 0px;
    top: 22px;
    left: 50px;
    width: 33px;
    height: 6px;
    background-color: #feda00;
    border-radius: 10px;
}


.inbox {
    background: #cfcfcf;
    width: 350px;
    height: 35px;
    border-radius: 5px;
}


#notes
{
    color:#16601f;
    font-size: 12px;
}

input, select {
    width: 320px;
    height: 35px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}

.inbox select option {
    text-decoration: bold;
}

#concernTitle {
    margin-top: 90px;
}

.field2 {
    position: relative;
}

.fldConcern {
    position: relative;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 180px;
    width: 88%;
    left: 50px;
    right: 6%;
    flex-wrap: wrap;
}

#invi {
    background: none;
}


.file-input {
    position: absolute;
    left: 0;
    margin-left: -10px;
    font-size: 55px; /* Set a large font size to cover the button */
    width: 150px;
    height: 40px;
    opacity: 0; /* Make the actual file input transparent */
    cursor: pointer;
}

.upload-button {
    font-weight: bold;
    font-size: 15px;
    height: 40px;
    width: 140px;
    background: none;
    border-radius: 20px;
}

.selected-file {
    margin-left: 10px;
    font-size: 14px;
}

.concernfield .inbox img {
    position: relative;
    height: 25px;
    width: 25px;
    bottom: 32px;
    margin-left: 310px;
}

.upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.longbox {
    background: #cfcfcf;
    width: 900px;
    height: 200px;
    border-radius: 5px;
}

.longbox textarea {
    margin-top: 10px;
    width: 870px;
    height: 175px;
    margin-left: 15px;
    border-style: none;
    background: none;
    color: black;
    outline: none;
}

#identityTitle {
    margin-top: 90px;
}

#note
{
    color: green;
    font-size: 12px;
    position: relative;
    bottom: 31px;
    margin-left: 230px;
}

.fldVerification
{
    position: relative;
    bottom: 20px;
    margin-left: 50px;
}

#consent
{
    margin-top: 50px;
    margin-left: 50px;
}

#check
{
    position:relative;
    bottom: 36px;
    height: 15px;
    width:15px;
}

.submit {
    height: 50px;
    width: 160px;
    background-color: #16601f;
    border-radius: 50px;
    border-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}

#submitBtn:disabled {
    background-color: #ddd;
    color: #777;
    cursor: not-allowed;
}

.submit:hover { 
    transition: 0.3s;
    background-color: #1a7225;
}

.fld
{
    margin-left: 50px;
    display: flex;
    gap: 50px;
    margin-bottom: -10px;
}

#inf
{
    margin-left: 50px;
    margin-top: 50px;
}

.fld p
{
    width: 220px;
}

#bold
{
    font-weight: bold;
}